<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="js/jquery/jquery-1.9.0.min.js"></script>
<!-- <msdropdown> -->
<link rel="stylesheet" type="text/css" href="msdropdown/dd.css" /> <!-- 드롭다운 폼 -->
<script src="js/msdropdown/jquery.dd.js"></script>
<!-- </msdropdown> -->
<link rel="stylesheet" href="examples/css/sample.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/msdropdown/skin2.css" /> -->
<link rel="stylesheet" type="text/css" href="msdropdown/flags.css" />
</head>

<body>
  <!-- <form action="examples/submitdata.php" method="post" enctype="multipart/form-data" name="frmdata"> -->
   <!--  <table width="100%" border="0" cellspacing="1" cellpadding="5" class="tblWhite">
      <tr>
        <td valign="top"> -->
          <select name="countries" id="countries" style="width:300px;">
            <option value='' data-image="/assets/line_flags/line2.png" data-imagecss="flag" data-title="강변">강변</option>
            <option value='ae' data-image="/assets/line_flags/line2.png" data-imagecss="flag ae" data-title="구의">구의</option>
            <option value='af' data-image="/assets/line_flags/line4.png" data-imagecss="flag af" data-title="수유">수유</option>
            <option value='ag' data-image="/assets/line_flags/line7.png" data-imagecss="flag ag" data-title="사가정">사가정</option>
            <option value='ai' data-image="/assets/line_flags/line2.png" data-imagecss="flag ai" data-title="삼성">삼성</option>
            <option value='al' data-image="/assets/line_flags/line29.png" data-imagecss="flag al" data-title="종합운동장">종합운동장</option>
            <option value='am' data-image="/assets/line_flags/line245.png" data-imagecss="flag am" data-title="동대문역사문화공원">동대문역사문화공원</option>
            <option value='an' data-image="/assets/line_flags/line23.png" data-imagecss="flag an" data-title="교대">교대</option>
            <option value='ao' data-image="/assets/line_flags/line28.png" data-imagecss="flag ao" data-title="잠실">잠실</option>
            <option value='aq' data-image="/assets/line_flags/line2sin.png" data-imagecss="flag aq" data-title="강남">강남</option>
            <option value='ar' data-image="images/msdropdown/line/line379.png" data-imagecss="flag ar" data-title="고속터미널">고속터미널</option>
            <option value='as' data-image="images/msdropdown/line/line3sin.png" data-imagecss="flag as" data-title="양재">양재</option>
          </select>
<!--         </td>
      </tr> -->
<script>

$(document).ready(function(e) {		
	//no use
	try {
		var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
												var val = data.value;
												if(val!="")
													window.location = val;
											}}}).data("dd");

		var pagename = document.location.pathname.toString();
		pagename = pagename.split("/");
		pages.setIndexByValue(pagename[pagename.length-1]);
		$("#ver").html(msBeautify.version.msDropdown);
	} catch(e) {
    		//console.log(e);	
    	}
    	
$("#ver").html(msBeautify.version.msDropdown);
    		
    	//convert
$("select").msDropdown({roundedBorder:false});
    	createByJson();
$("#tech").data("dd");
    });
function showValue(h) {
console.log(h.name, h.value);
}
$("#tech").change(function() {
  console.log("by jquery: ", this.value);
})
    //
</script>

</body>
</html>
