<div class="gallery">
    
    
    <center>
        
        
    <div class = "flex">
        
    <div class="col-sm-4">
        <img src="../assets/default_image.png" style="width:50%;">
    <p id="title"><%= link_to '내용' %></p>
    </div>



    <div class="col-sm-4">
        <img src="../assets/default_image.png" style="width:50%;" >
  <p id="title"><%= link_to '내용' %></p>
    </div>
    
    <div class="col-sm-4">
        <img src="../assets/default_image.png" style="width:50%;" >
  <p id="title"><%= link_to '내용' %></p>
    </div>
        
    <div class="col-sm-4">
       <img src="../assets/default_image.png" style="width:50%;" >
     <p id="title"><%= link_to '내용' %></p>
    </div>
    
    </div>
    
    </center>
    
    
    
    <!--DB 연동하고 주석 풀 부분 -->
    
    
    <!-- <div class ="flex_index">-->
   <!--메모장꺼 가져오기-->
    <!--</div>-->
</div>