<head>
	<!-- index.html-->
	<link rel="stylesheet" href="home.scss"/>
</head>

<!-- 지하철 역 선택 및 검색 페이지 -->
<div class="container" id="index_view">
    <!-- 화장실 이미지 좌표 정보 -->
    <img src="/assets/subway.jpg" alt="" usemap="#Map" vertical-align="middle"/>
    <map name="Map" id="Map">
    		<!-- 화장실 1개 -->
    		<area alt="강변" title="" href="toilet_info.html" shape="poly" coords="1595,932,1633,931,1633,947,1598,947" />
    		<area alt="구의" title="" href="toilet_info.html" shape="poly" coords="1596,899,1596,915,1620,916,1620,897" />
    		<area alt="사가정" title="" href="toilet_info.html" shape="poly" coords="1791,667,1794,691,1815,688,1810,666" />
    		<area alt="수유" title="" href="toilet_info.html" shape="poly" coords="1620,383,1622,400,1641,400,1638,383" />
    		
    		<!-- 화장실 2개 -->
    		<area alt="삼성" title="" href="select_map.html" shape="poly" coords="1529,1233,1530,1284,1589,1282,1584,1232" />
    		<area alt="잠실" title="" href="select_map.html" shape="poly" coords="1565,1105,1626,1104,1626,1135,1569,1137" />
    		<area alt="교대" title="" href="select_map.html" shape="poly" coords="1319,1250,1317,1282,1346,1282,1345,1253" />
    		<area alt="동역사" title="" href="select_map.html" shape="poly" coords="1234,659,1256,659,1262,691,1238,691" />
    		<area alt="종합운동장" title="" href="select_map.html" shape="poly" coords="1566,1194,1567,1221,1612,1221,1606,1190" />
    
    		<!-- 화장실 3개 이상 -->
    		<area alt="강남" title="" href="select_map.html" shape="poly" coords="1382,1262,1383,1284,1405,1284,1405,1264" />
    		<area alt="고속터미널" title="" href="select_map.html" shape="poly" coords="1314,1128,1315,1146,1348,1145,1347,1128" />
    		<area alt="양재" title="" href="select_map.html" shape="poly" coords="1386,1353,1386,1384,1403,1383,1402,1352" />
    </map>


</div>


