<!-- mh : 사진 신고 페이지 -->
<head>
	<!--report.scss-->
	<link rel="stylesheet" href="report.scss"/>
	<link rel="stylesheet" href="application.scss"/>
</head>

	<header class="applicaition_navbar header row notice_nav align-items-center">
		<a href="/home/toilet_detail_info.html.erb"><button class="col-2" id="back_btn"></button></a>
		
	</header>
	

<div class="container" id="report_view">


		<!-- mh : 업로드 된 사진을 보여준다 -->
		<div class="row justify-content-center align-item-center" id="show_photo_view">
			<!-- mh : 사진 업로드 버튼 -->
			<!--<div class="row justify-content-center">-->
			<!--<button id="photo_upload_btn"></button>-->
			<!--</div>-->
			<img id="upload_photo" class="row justify-content-center" src="/assets/default_image.png" alt="">
		</div>


		<!-- mh : 신고하기 버튼 -->
		<div class="row justify-content-center">
			<button id="submit_btn" onclick="myFunction()"></button>
		</div>
	</div>


<h1>IMAGE UPLOAD</h1>
	<form action="/home/upload" method = "post" enctype="multipart/form-data">
	<input type="file" name="pic" accept="/image/*">
	<input type="submit">
</form>


	<!-- mh : 신고하기 버튼 눌렀을 때 팝업 -->
	<script>
		function myFunction() {
			alert("신고가 완료되었습니다.");
		}
	</script>