<head>
	<!-- select_toilet.html-->
	<link rel="stylesheet" href="select_toilet.scss"/>
	<!--<link rel="stylesheet" href="home.css.map"/>-->
	<!--<link rel="stylesheet" href="home.scss"/>-->

</head>


<header class="applicaition_navbar header row notice_nav align-items-center">
		<a href="/home/index.html.erb"><button class="col-2" id="back_btn"></button></a>
		
	</header>
	

<!-- select toilet image -->
<div class="container" id="toilet_select_view">
    <img id="toilet_select_image" src="/assets/toilet_image/<%= @select_toilet_image %>.jpg" alt="" usemap="#Map";/>

    <map name="Map" id="Map">
    <!--강남역-->
    <script>
        if($station_ename=="gangnam"){
    </script>

    		<!-- 강남역 화장실 2개 -->
    		<area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="624,104.66998291015625,657.3299560546875,112.66998291015625,675.3299560546875,128.66998291015625,684.6699829101562,146.66998291015625,687.3299560546875,171.32998657226562,682,194.66998291015625,664,218.66998291015625,638.6699829101562,228.66998291015625,609.3299560546875,230,584,213.32998657226562,569.3300170898437,195.32998657226562,563.3300170898437,161.32998657226562,583.3300170898437,122.66998291015625" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="918.6699829101562,140,956,152.66998291015625,974.6699829101562,172,982,194,978,232.66998291015625,950.6699829101562,257.3299865722656,916,266,882.6699829101562,252.66998291015625,858.6699829101562,206.66998291015625,874,161.32998657226562" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1166.669921875,16.66998291015625,1205.3299560546875,33.329986572265625,1226,62,1224.669921875,98.66998291015625,1204.669921875,131.32998657226562,1160,142,1114,114.66998291015625,1104.669921875,63.329986572265625,1132.669921875,31.329986572265625" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="982.6699829101562,309.33001708984375,1008.6699829101562,315.33001708984375,1026.669921875,330,1041.3299560546875,352,1042.669921875,386,1026.669921875,416.66998291015625,999.3299560546875,430.66998291015625,955.3299560546875,428,931.3299560546875,408,922.6699829101562,371.3299560546875,933.3299560546875,334,957.3299560546875,316.66998291015625" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1096.669921875,509.3299560546875,1126,517.3299560546875,1144,530,1158,556.6699829101562,1157.3299560546875,588,1142.669921875,614,1112.669921875,632.6699829101562,1078,633.3299560546875,1047.3299560546875,612,1034.669921875,577.3299560546875,1045.3299560546875,536,1066.669921875,517.3299560546875" />
    
    <script>    }    </script>
    
    <!--교대(법원)역-->
    <script>
        else if($station_ename=="gyodae"){
    </script>
    		<!-- 교대(법원) 화장실 2개 -->
    		 <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="498,145.66000366210937,525.3300170898437,153,549.3300170898437,174.32998657226562,557.3300170898437,193.66000366210937,558.6699829101562,226.32998657226562,546,249.66000366210937,525.3300170898437,269,491.3299865722656,270.3299865722656,464,263.6600036621094,442.66998291015625,231.66000366210937,434,201,447.3299865722656,174.32998657226562,471.3299865722656,154.32998657226562" />
    		 <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1447.3299560546875,177,1471.3299560546875,181,1489.3299560546875,192.32998657226562,1502,209,1508.669921875,225.66000366210937,1506,261.6600036621094,1484.669921875,287.65997314453125,1459.3299560546875,297.65997314453125,1420,295.65997314453125,1398,272.33001708984375,1385.3299560546875,233,1404.669921875,191" />
  
    <script>    }    </script>
    
    
    <!--동대문역사문화공원역-->
    
    <script>
        else if($station_ename=="ddm_history"){
    </script>
    		<!-- 동대문역사문화공원역 화장실 2개 -->
    		    <area alt="" title="" href="/home/toilet_detail_info.html"  shape="poly" coords="1384.7999267578125,147.60000610351562,1448.7999267578125,174,1450.4000244140625,242,1394.4000244140625,275.5999755859375,1333.5999755859375,238,1346.4000244140625,170.79998779296875,1384,145.19998168945312" />
    		    <area alt="" title="" href="/home/toilet_detail_info.html"  shape="poly" coords="880,159.60000610351562,952,195.5999755859375,948,258,894.3999633789062,297.20001220703125,830.3999633789062,245.19998168945312,844,178,880.7999877929687,161.19998168945312" />
    		    <area alt="" title="" href="/home/toilet_detail_info.html"  shape="poly" coords="800,285.20001220703125,865.5999755859375,308.39996337890625,868.7999877929687,386,808.7999877929687,422.79998779296875,759.2000122070312,384.39996337890625,756.7999877929687,315.5999755859375,798.3999633789062,286.79998779296875" />
    		    <area alt="" title="" href="/home/toilet_detail_info.html"  shape="poly" coords="226.39999389648437,154.19998168945312,288,186.19998168945312,272,256.5999755859375,217.59999084472656,290.20001220703125,157.59999084472656,223,185.59999084472656,163,224.79998779296875,154.19998168945312" />
    <script>    }    </script>
    
    
    <!--잠실(송파구청)역-->
    <script>
        else if($station_ename=="jamsil"){
    </script>

    		<!-- 잠실 화장실 2개 -->
         <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="168,304.66998291015625,198,314.66998291015625,219.3300018310547,331.33001708984375,228.6699981689453,362.66998291015625,224,394,204,422.66998291015625,160.6699981689453,431.3299560546875,116,404.66998291015625,107.32999420166015,365.3299560546875,129.3300018310547,320" />
         <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="956,99.32998657226562,986,109.32998657226562,1002,122,1015.3299560546875,148,1015.3299560546875,170.66998291015625,1002,199.32998657226562,984.6699829101562,216.66998291015625,940,222.66998291015625,905.3299560546875,202.66998291015625,895.3299560546875,178,901.3299560546875,136,914,114" />
         
            
    <script>    }    </script>
    
    <!--종합운동장역-->

     <script>
        else if($station_ename=="jonghapground"){
    </script>
    		<!-- 종합운동장역 화장실 2개 -->
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="171.3300018310547,337,191.3300018310547,341.65997314453125,214.6699981689453,352.33001708984375,229.3300018310547,379,232,401.65997314453125,226,427,208.6699981689453,447,182.6699981689453,461.65997314453125,152.6699981689453,462.3299560546875,119.32999420166015,435.65997314453125,108.66999816894531,408.3299560546875,115.32999420166015,370.3299560546875,137.3300018310547,347" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1479.3299560546875,155.32998657226562,1507.3299560546875,161.32998657226562,1530,176,1544,206.66998291015625,1541.3299560546875,235.32998657226562,1529.3299560546875,256.66998291015625,1500.669921875,278.66998291015625,1463.3299560546875,278.66998291015625,1435.3299560546875,260,1422.669921875,240,1418.669921875,208,1432,179.32998657226562,1454.669921875,163.32998657226562" />
    <script>    }    </script>
    
    
    
    
    <!--양재(서초구청)-->
      <script>
        else if($station_ename=="yangjae"){
    </script>
    		<!-- 양재(서초구청) 화장실 2개 -->
    		 <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="714.7799682617187,122.47998046875,766.0899658203125,145.95999145507812,773.0399780273437,205.08999633789062,727.8299560546875,248.56997680664062,709.5700073242187,266.8299865722656,692.1699829101562,251.17999267578125,643.47998046875,186.82998657226562,671.2999877929687,136.38998413085937,713.0399780273437,122.47998046875" />
    <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="961.739990234375,272.90997314453125,1012.1699829101562,313.77996826171875,1019.1300048828125,362.47998046875,978.2599487304687,397.260009765625,943.47998046875,408.55999755859375,906.9599609375,381.6099853515625,895.6499633789062,312.90997314453125,926.0899658203125,279.8699951171875" />
    <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="932.1699829101562,432.90997314453125,993.0399780273437,466.8299560546875,993.9099731445312,522.47998046875,943.47998046875,563.3499755859375,917.3899536132812,559.8699951171875,873.0399780273437,508.55999755859375,881.739990234375,452.03997802734375,931.2999877929687,434.64996337890625" />
    <script>    }    </script>
   
    <!--고속터미널-->
     <script>
        else if($station_ename=="gosokterminal"){
    </script>
    		<!-- 고속터미널 화장실 2개 -->
    		<area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="485.2200012207031,283.3399658203125,538.260009765625,319,538.260009765625,377.260009765625,495.6499938964844,413.77996826171875,480,432.90997314453125,458.2599792480469,407.69000244140625,419.1300048828125,365.95001220703125,426.9599914550781,306.82000732421875,484.3499755859375,285.08001708984375" />
    		<area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1151.449951171875,230,1101.0499267578125,254.79998779296875,1094.6500244140625,317.20001220703125,1153.8499755859375,355.5999755859375,1215.449951171875,321.20001220703125,1199.449951171875,246" />
    		<area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1341.239990234375,411.3800048828125,1386,439,1387.9000244140625,514.22998046875,1331.7099609375,539,1271.7099609375,498.03997802734375,1273.6199951171875,436.1400146484375" />
            <area alt="" title="" href="/home/toilet_detail_info.html"  shape="poly" coords="1404.7999267578125,150,1457.5999755859375,174,1464.7999267578125,255.5999755859375,1407.199951171875,293.20001220703125,1345.5999755859375,231.5999755859375,1365.5999755859375,175.5999755859375,1405.5999755859375,150.79998779296875" />
            <area alt="" title="" href="/home/toilet_detail_info.html" shape="poly" coords="1551.7099609375,211.32998657226562,1590.760009765625,233.239990234375,1600.2899169921875,298.95001220703125,1559.3299560546875,337.04998779296875,1504.0999755859375,335.1400146484375,1477.429931640625,283.7099609375,1505.0499267578125,218.94998168945312,1546.949951171875,211.32998657226562" />
    <script>    }    </script>
       
    
    
    
  
    </map>
</div>