<head>
	<!-- select_toilet.html-->
	<link rel="stylesheet" href="select_toilet.scss"/>
</head>

<!-- select toilet image -->
<div class="container" id="toilet_select_view">
    <img id="toilet_select_image" src="/assets/toilet_image/2_gangnam.jpg"></img>
</div>