

<head>


</head>

<body>

  <div class = "splash">
        <center>
       <a href="/home/index"><img id="splash_img" src = "../assets/splash.png"></a>
        </center>
    </div>
    
  
        <script>

            $('.splash').load('splash2.html',function(){}).hide().fadeIn(10000);

    </script>
    
    
</body>





