<!-- mh : 각가의 화장실 정보 -->

<!-- mh : navbar에 들어갈 back 버튼
<header class="container">
		<div class="row">
			<button id="back_btn"></button>
		</div>		
	</header>

-->
<head>
	<!--toilet_detail_info.scss-->
	<link rel="stylesheet" href="toilet_detail_info.scss"/>
</head>
	<div class="container" id="toilet_info_container">
			<div class="row justify-content-center" id="toilet_listview">
				<ul class="list-group col-12">
				    <li class="list-group-item" id="">누적 신고량 : X 건</li>
				    <li class="list-group-item" id="">최근 점검일 : XX/XX/XX</li>
				    <li class="list-group-item" id="">X 개</li>
			    </ul>
			</div>

			<div class="row" id="toilet_btnview">
				<button id="report_btn">신고하기</button>
				<button id="show_photo_btn">사진보기</button>
			</div>
			
	</div>
