/* mh : report 페이지 CSS -->
/*  mh : report 페이지 전체를 감싸는 컨테이너 CSS*/
#report_view{
	width : 100%;
  height : 90vh;
}


/* mh : photo_upload_btn*/
/* mh : button의 background 이미지*/
#photo_upload_btn {
  background-image: url("upload_button.png");
  background-repeat: no-repeat;
  border:none;
  padding: 0px;
  background-color: #E2E2E2;
  /* mh : button 이미지(회색 버튼)*/
  width: 20%;
  height: 12vh;
  /* mh : 버튼 내 background image의 크기*/
  background-size: 100% 100%;
  margin-top: 2vh;
}

#photo_upload_btn:before {
  content: url("upload_button.png");
  visibility: hidden;
}

/* mh : 업로드 된 사진을 보여주는 화면*/
#show_photo_view{
	margin:3vh 0px 3vh 0px;
	width: 100%;
	height: 60vh;
}

/* mh : upload 된 이미지 */
#upload_photo{
	width: 100%;
	height: 100%;
}

/* mh : submit_btn*/
/* mh : button의 background 이미지*/
#submit_btn {
  background-image: url("submit_button.png");
  background-repeat: no-repeat;
  border:none;
  padding: 0px;
  /* mh : button 이미지(회색 버튼)*/
  width: 40%;
  height: 8vh;
  /* mh : 버튼 내 background image의 크기*/
  background-size: 100% 100%;
  // margin-bottom : 2vh;
}

#submit_btn:before {
  content: url("submit_button.png");
  visibility: hidden;
}
