/* mh : select_toilet 페이지 CSS -->
// /*  mh : select_toilet 페이지 전체를 감싸는 컨테이너 CSS*/
 #toilet_select_view{
 	width : 100%;
 	height : 90vh;
    padding-left:0px;
}

// #toilet_select_image{
//   width:100%;
//   height: 90vh;
// }


 #back_btn{
 overflow: hidden;
 position:fix;
 
}
